<p id="notice"><%= notice %></p>

<h1>Feeling</h1>

<p>
  <strong>Day:</strong>
  <%= @feeling.day %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feeling.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @feeling.user_id %>
</p>

<%= link_to 'Edit', edit_feeling_path(@feeling) %> |
<%= link_to 'Back', feelings_path %>
